.body {
  background-color: rgb(136, 77, 190);
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.body1{
  width: 90%;
  margin: 0 auto;
}

.input_block { 
  display: block;
  background-color: #ffffff;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem 0;
}

.info_wrapper{
  display: flex;
  padding: 0.5rem;
  background-color: #ffffff;
  margin-top: 0.5rem;
  flex-basis: 46%;
  /* margin-right: 0.5rem; */
}

.info-id{
  margin: 0;
}

.info_wrapper p{
  margin: 0;
}

.input-wrapper{
  width: 100%;
}

.pic{
  margin-right: 1rem;
}

.individual-data{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}