.body {
  background: linear-gradient(0deg, rgb(255,182,96) 30%, rgb(255,115,110) 60%, rgb(228, 82, 133) 70%);
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.body1{
  width: 100%;
  margin: 0 auto;
}

.input_block { 
  display: block;
  border-radius: 0.2rem;
  width: 100%;
  padding: 0.5rem 0;
  background: #ffffff;
  border: none;
  outline: none;
}

.info_wrapper{
  display: flex;
  padding: 0.5rem;
  background-color: #ffffff;
  margin-top: 0.5rem;
  flex-basis: 46%;
  border-radius: 0.15rem;
  /* margin-right: 0.5rem; */
}

.info-id{
  margin: 0;
}

.info_wrapper p{
  margin: 0;
}

.input-wrapper{
  width: 100%;
}

.pic{
  margin-right: 1rem;
}

.individual-data{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
